Chat-application/obj/Debug/net9.0/refint/Chat-application.dll
Chat-application/bin/Debug/net9.0/Chat-application.dll
Chat-application/bin/Debug/net9.0/Chat-application.dll
Chat-application/bin/Debug/net9.0/Chat-application.pdb
Chat-application/obj/Debug/net9.0/Chat-application.AssemblyInfo.cs
Chat-application/obj/Debug/net9.0/Chat-application.AssemblyInfoInputs.cache
Chat-application/obj/Debug/net9.0/Chat-application.dll
Chat-application/obj/Debug/net9.0/Chat-application.AssemblyInfo.cs
Chat-application/obj/Debug/net9.0/Chat-application.AssemblyInfoInputs.cache
Chat-application/obj/Debug/net9.0/Chat-application.dll
Chat-application/obj/Debug/net9.0/Chat-application.pdb
Chat-application/obj/Debug/net9.0/Chat-application.sourcelink.json
Chat-application/obj/Debug/net9.0/ref/Chat-application.dll
Chat-application/obj/Debug/net9.0/refint/Chat-application.dll
Chat-application/bin/Debug/net9.0/Chat-application.dll
Chat-application/bin/Debug/net9.0/Chat-application.pdb
Chat-application/obj/Debug/net9.0/Chat-application.AssemblyInfo.cs
Chat-application/obj/Debug/net9.0/Chat-application.AssemblyInfoInputs.cache
Chat-application/obj/Debug/net9.0/Chat-application.dll
Chat-application/obj/Debug/net9.0/Chat-application.pdb
Chat-application/obj/Debug/net9.0/Chat-application.sourcelink.json
*.json
*.dll
*.dll
*.dll
*.pdb
*.cs
*.cache
*.dll
*.pdb
*.json
*.dll
*.dll
*.dll
*.pdb
*.cs
*.cache
*.dll
*.pdb
*.json
*.dll
*.dll
bin/
obj/
*.user
*.vs
*.dll
*.pdb
*.cs
*.cache
*.dll
*.pdb
*.json
*.dll
*.dll
